
@media only screen and (max-width: 600px) {
  .button {
    flex-direction: column-reverse;
    #new-quote{
      margin-bottom: 10px;
    }
  }
}

.App {
  text-align: center;
  #quote-box{
    position: relative;
    width: 450px;
    padding: 40px, 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
    
    #text{
      margin-right: 10px;
      margin-left: 10px;;
    }
    #author{
      text-align: end;
      margin-right: 10px;
      font-size: 14px;
    }
    .button{
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      font-size: 16px;
      margin-bottom: 10px;
      #tweet-quote{
        display: flex;
        padding: 10px;
        color: white;
        border-radius: 10px;
        max-width: 50px;
        height: 100%;
        align-self: center;
        justify-content: center;
        margin-left: 10px;
      }
      #new-quote{
       margin-right: 10px;
       color: white;
       border-radius: 10px;
       padding: 10px;
       border: none;
       cursor: pointer;
       font-size: 16px;
      }

    }
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


